@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/*variables*/
/* styles */
container {
  position: absolute;
  box-sizing: borderbox;
  width: 604px;
  height: 211px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #F9F8FB 50%), #FFFFFF;
  left: calc(50% - 604px/2 - 22px);
  top: calc(50% - 211px/2 + 0.5px);
  border: 1px solid #EEECF1;
  border-radius: 4px;
  padding: 20px 33px;
}
container h1 {
  font: 100% "Poppins", sans-serif;
  font-weight: 600;
  color: #282828;
  font-size: 1.5rem;
  line-height: 30px;
  width: 105px;
  height: 24px;
  width: 368px;
  height: 59px;
  left: 428px;
  top: 437px;
}
container p {
  font: 100% "Poppins", sans-serif;
  font-weight: 400;
  color: #555555;
  font-size: 1rem;
  line-height: 24px;
  width: 369px;
  height: 24px;
  left: 428px;
  top: 508px;
}
container btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 14px;
  gap: 10px;
  width: 133px;
  height: 42px;
  left: 428px;
  top: 544px;
  background: #6638F0;
  border-radius: 4px;
  color: #FFFFFF;
  width: 133px;
  height: 42px;
  left: 428px;
  top: 544px;
}
container btn a {
  text-decoration: none;
}
container btn a h2 {
  font: 100% "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  width: 105px;
  height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 15px;
  color: #FFFFFF;
}

img {
  float: right;
  width: 206.79px;
  height: 194.46px;
}

#ex1 {
  display: flex;
}

#ex1 {
  display: flex;
  position: absolute;
  box-sizing: borderbox;
  position: absolute;
  width: 752px;
  height: 545px;
  left: 344px;
  top: 239px;
  background: #FFFFFF;
  border: 1px solid #EEECF1;
  border-radius: 8px;
}
#ex1 img {
  width: 24px;
  height: 24px;
  left: 1056px;
  top: 251px;
  position: absolute;
  top: 0px;
  right: 0px;
}
#ex1 container {
  position: absolute;
  width: 375px;
  height: 543px;
  left: 345px;
  top: 240px;
  background: linear-gradient(154.5deg, #6638F0 0%, #5CC9F5 100%);
}
#ex1 .right-content {
  width: 315px;
  height: 430px;
  padding-left: 25px;
}
#ex1 .right-content h1 {
  font: 100% "Poppins", sans-serif;
  font-weight: 600;
  color: #282828;
  font-size: 1.5rem;
  line-height: 30px;
  width: 105px;
  height: 24px;
  width: 313px;
  height: 119px;
  left: 746px;
  top: 275px;
}
#ex1 .right-content p {
  font: 100% "Poppins", sans-serif;
  font-weight: 400;
  color: #555555;
  font-size: 1rem;
  line-height: 24px;
  width: 312px;
  height: 240px;
  left: 746px;
  top: 410px;
}
#ex1 .right-content .buttonset {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#ex1 .right-content .buttonset btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 14px;
  gap: 10px;
  width: 133px;
  height: 42px;
  left: 428px;
  top: 544px;
  background: #6638F0;
  border-radius: 4px;
  color: #FFFFFF;
  width: 133px;
  height: 42px;
  left: 746px;
  top: 666px;
}
#ex1 .right-content .buttonset btn h2 {
  font: 100% "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  width: 105px;
  height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 15px;
}